<div class="field">
  <div
    *ngIf="buildings$ | async as buildings"
    class="field__frame">
    <a
      *ngFor="let building of buildings; trackBy: buildingTrackBy"
      class="field__frame__buttons"
      [routerLink]="[building.path]"
      (click)="topFunction()">
      <img
        class="field__frame__buttons__image"
        [src]="building.img" />
      <div class="field__frame__buttons__name">{{ building.title }}</div>
    </a>
    <a
      *ngFor="let building of buildings; trackBy: buildingTrackBy"
      class="field__frame__buttonsMobile"
      (click)="topFunctionTimeout(building)">
      <img
        class="field__frame__buttonsMobile__image--mobile"
        [src]="building.imgMobile" />
      <div class="field__frame__buttonsMobile__name">{{ building.title }}</div>
    </a>
  </div>
</div>
