:host {
    display: block;
}

.field {
    display: none;
}

.field--mobile {
    width: 100%;
    height: auto;

}

@media (min-width: 429px) {
    .field {
        display: block;
        width: 100%;
        height: auto;

    }

    .field--mobile {
        display: none;
    }
}
