<div class="page">
  <div class="page__field">
    <div class="page__field__content">
      <img
        class="page__field__content__img"
        src="assets/pic/base-field.webp"
        alt="hermitage oil painting" />
      <img
        class="page__field__content__img--mobile"
        src="assets/pic/base-field-mobile.webp"
        alt="hermitage oil painting" />
      <div class="page__field__content__text">
        <p>{{ 'Welcome.P1' | translate }}</p>
        <p>{{ 'Welcome.P2' | translate }}</p>
        <p>{{ 'Welcome.P3' | translate }}</p>
        <p>{{ 'Welcome.P4' | translate }}</p>
        <p>{{ 'Welcome.P5' | translate }}</p>
      </div>
    </div>
  </div>
</div>
