.field {
    display: none;
}

.field--mobile {
    width: 428px;
}

@media (min-width: 429px) {
    .field {
        display: block;
        width: 1920px;
    }

    .field--mobile {
        display: none;
    }
}

