:host {
  display: block;
}

.navigate {
  
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 32px;

  background-color: #EEEEEE;

  &__back-button, &__forward-button {
    position: absolute;

    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    padding: 0;
    border: 0;

    background-color: #03463E;

    &__arrow {
      display: none;
    }

    &__arrow--mobile{
      display: block;
      padding: 0 9px 0 12px;
    }

    &__text {
      color: #FFFFFF;
      font-weight: 600;
      font-size: 15px;
      text-transform: uppercase;
    }
  }

  &__back-button {
    left: 0;

    border-radius: 0 0 34px;
  }

  &__forward-button {
    
    left: 228px;

    display: flex;
    justify-content: flex-end;
    border-radius: 0 0 0 34px;
  }

  &__back-button:hover, &__forward-button:hover {
    background-color: #3C837A;
  }
}

.map {
  display: flex;
  flex-grow: 1;
  margin: 0 154px;

  &__button {
    position: relative;
    left: 0;

   width: 100%;
    height: 60px;
    padding: 0;
    border: 0;
    border-radius: 0 0 40px 40px;
  

  background-color: #6F9792;

  &__text {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
  }
  }
}

.dropdown-toggle::after {
  display: none;
}

@media (min-width: 429px) {
  .navigate {
    height: 60px;

    &__back-button, &__forward-button {
      width: 360px;
      height: 60px;

      &__arrow {
        display: block;
        padding: 0 14px 0 20px;
      }
  
      &__arrow--mobile{
        display: none;
      }

      &__text {
        font-size: 25px;
      }
    }

    &__forward-button {
      right: 0;
      left: auto;

      &__arrow {
        display: block;
        padding: 0 20px 0 14px;
      }
    }
  }

  .map {
    margin: 0 326px;

    &__button {
      height: 80px;
  
      &__text {
        font-size: 20px;
      }
    }
  }
}

