:host {
  display: block;
}

.navigate {
  
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 32px;

  background-color: #EEEEEE;

  &__back-button, &__forward-button {
    position: absolute;

    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    padding: 0;
    border: 0;

    background-color: #03463E;

    &__arrow {
      display: none;
    }

    &__arrow--mobile{
      display: block;
      padding: 0 9px 0 12px;
    }

    &__text {
      color: #FFFFFF;
      font-weight: 600;
      font-size: 15px;
      text-transform: uppercase;
    }
  }

  &__back-button {
    left: 0;

    border-radius: 0 0 34px;
  }

  &__forward-button {
    
    left: 228px;

    display: flex;
    justify-content: flex-end;
    border-radius: 0 0 0 34px;
  }

  &__back-button:hover, &__forward-button:hover {
    background-color: #3C837A;
  }
}

.backToChoise {
  justify-content: center;
}

.map {
  display: flex;
  flex-grow: 1;
  margin: 0 154px;

  &__button {
    position: relative;
    left: 0;

    width: 100%;
    height: 60px;
    padding: 0;
    border: 0;
    border-radius: 0 0 40px 40px;
  

    background-color: #6F9792;

    &__text {
      font-weight: 600;
      font-size: 15px;
      text-transform: uppercase;
    }
  }

  &__button:hover {
    background-color: #D9D9D9;
  }

  &__frame {
    padding: 0;
    border: none;
    border-radius: 0;

    background-color: transparent;
    inset: 0 50% !important;

    &__img {
      width: 370px;
      height: 370px;
      border: 10px solid #D9D9D9;

      transform: translate(-50%, -2px);
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.field {
  width: 100%;
  min-height: 788px;
  border-color: #EEEEEE;
  border-style: solid;
  border-width: 0 10px 10px;

  &__frame {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px;

    &__header {
      margin-top: 30px;

      font-weight: 600;
      font-size: 22px;
      text-transform: uppercase;
    }

    &__description {
      margin-bottom: 5px;

      font-weight: 400;
      font-size: 18px;
    }

    &__block {
      &__img-frame {
        margin-bottom: 5px;
        padding: 5px;

        background-color: #D9D9D9;

        &__image {
          min-width: 386px;
          max-width: 386px;
          margin-bottom: 5px;
        }

        &__description {
          font-weight: 400;
          font-size: 15px;
        }
      }
    }
  }
}

.image-vertical {
  min-width: 386px;
}

@media (min-width: 429px) {
  .navigate {
    height: 60px;

    &__back-button, &__forward-button {
      width: 360px;
      height: 60px;

      &__arrow {
        display: block;
        padding: 0 14px 0 20px;
      }
  
      &__arrow--mobile{
        display: none;
      }

      &__text {
        font-size: 25px;
      }
    }

    &__forward-button {
      right: 0;
      left: auto;

      &__arrow {
        display: block;
        padding: 0 20px 0 14px;
      }
    }
  }

  .map {
    margin: 0 326px;
    
    &__button {
      min-width: 120px;
      height: 80px;
  
      &__text {
        font-size: 20px;
      }
    }

    &__frame {
      &__img {
        width: 480px;
        height: 480px;
      }
    }
  }

  .field{
    border-width: 0 45px 45px;

    &__frame {
      gap: 25px;
      padding: 60px 40px 40px;

      &__header {
        margin-top: 0;

        font-size: 45px;
      }

      &__description {
        font-size: 30px;
      }
      
      &__block {
        &__img-frame {
          display: flex;
          gap: 30px;

          margin-bottom: 10px;
          padding: 20px;

          &__image {
            flex-grow: 1;
            max-width: 100%;
            height: auto;
            max-height: 100%;

            margin-bottom: 10px;
          }

          &__description {
            max-width: 200px;

            font-size: 21px;
          }
        }
      }
    }
  }

  .image-vertical {
    width: auto;
    max-width: 800px;
    max-height: 100%;
  }
}

