<div *ngIf="room$ | async as room">
  <div class="navigate">
    <a
      *ngIf="room.prev === undefined"
      class="navigate__back-button backToChoise"
      [routerLink]="['/', 'interiors', buildingPath$ | async]"
      (click)="topFunction()">
      <div class="navigate__back-button__text">{{ 'Common.backToChoice' | translate }}</div>
    </a>
    <a
      *ngIf="room.prev !== undefined"
      class="navigate__back-button"
      [routerLink]="room.downToFloor ? room.downToFloor : ['../', room.prev]"
      (click)="topFunction()">
      <img
        class="navigate__back-button__arrow"
        src="assets/icon/arrow-back.svg" />
      <img
        class="navigate__back-button__arrow--mobile"
        src="assets/icon/arrow-back-mobile.svg" />
      <div class="navigate__back-button__text">{{ 'Common.previousRoom' | translate }}</div>
    </a>
    <div
      class="map"
      ngbDropdown>
      <button
        class="map__button"
        ngbDropdownToggle>
        <img
          class="map__button__icon"
          src="assets/icon/map.svg" />
        <div class="map__button__text">{{ 'Common.map' | translate }}</div>
      </button>
      <div
        class="map__frame"
        ngbDropdownMenu>
        <img
          class="map__frame__img"
          [src]="room.map" />
      </div>
    </div>
    <a
      *ngIf="room.next === undefined"
      class="navigate__forward-button backToChoise"
      [routerLink]="'../../../'"
      (click)="topFunction()">
      <div class="navigate__back-button__text">{{ 'Common.backToChoice' | translate }}</div>
    </a>
    <a
      *ngIf="room.next !== undefined"
      class="navigate__forward-button"
      [routerLink]="room.upToFloor ? room.upToFloor : ['../', room.next]"
      (click)="topFunction()">
      <div class="navigate__back-button__text">{{ 'Common.nextRoom' | translate }}</div>
      <img
        class="navigate__forward-button__arrow"
        src="assets/icon/arrow-forward.svg" />
      <img
        class="navigate__forward-button__arrow--mobile"
        src="assets/icon/arrow-forward-mobile.svg" />
    </a>
  </div>
  <div class="field">
    <div class="field__frame">
      <div class="field__frame__header">{{ room.name }}</div>
      <div
        *ngIf="room.status !== undefined"
        class="field__frame__status">
        {{ room.status }}
      </div>
      <div class="field__frame__description">{{ room.description }}</div>
      <div
        *ngIf="collection$ | async as collections"
        class="field__frame__block">
        <div
          *ngFor="let collection of collections; trackBy: trackById"
          class="field__frame__block__img-frame">
          <img
            class="field__frame__block__img-frame__image"
            [ngClass]="{ 'image-vertical': collection.vertical }"
            [src]="collection.img" />
          <div class="field__frame__block__img-frame__description">{{ collection.description }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
