:host {
  display: block;
}

.navigate {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 32px;

  background-color: #EEEEEE;

  &__back-button, &__forward-button {
    z-index: 2;

    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    padding: 0;
    border: 0;

    background-color: #03463E;

    &__arrow {
      display: none;
    }

    &__arrow--mobile{
      display: block;
      height: 13px;
      padding: 0 9px;
    }

    &__text {
      color: #FFFFFF;
      font-weight: 550;
      font-size: 13px;
      font-family: "InterTight base", sans-serif;
      text-transform: uppercase;
    }
  }

  &__back-button {
    padding: 0 5px 0 0;
    border-radius: 0 0 34px;

    text-decoration: none;
  }

  &__forward-button {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 5px;
    border-radius: 0 0 0 34px;

    text-decoration: none;
  }
}

.backToChoise {
  justify-content: center;
}

.map {
  z-index: 1;

  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 96px;
  margin: 0 -34px;

  &__button {
    width: 100%;
    height: 60px;
    padding: 0;
    border: 0;
    border-radius: 0 0 40px 40px;
  

    background-color: #6F9792;

    &__text {
      color: black;
      font-weight: 500;
      font-size: 14px;
      font-family: "InterTight base", sans-serif;
      text-transform: uppercase
    }
  }

  &__button:hover {
    background-color: #D9D9D9;
  }

  &__frame {
    margin-top: -2px;
    padding: 0;
    border: none;
    border-radius: 0;

    background-color: transparent;

    &__img {
      width: 370px;
      height: 370px;
      border: 10px solid #D9D9D9;
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.field {
  width: 100%;
  min-height: 788px;
  border-color: #EEEEEE;
  border-style: solid;
  border-width: 0 10px 10px;

  &__frame {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px;

    &__status {
      color: red;
      font-weight: 600;
      font-size: 16px;
      font-family: "InterTight base", sans-serif;
      text-transform: uppercase;
    }

    &__header {
      margin-top: 30px;

      font-weight: 600;
      font-size: 22px;
      font-family: "InterTight base", sans-serif;
      text-transform: uppercase;
    }

    &__description {
      margin-bottom: 5px;

      font-weight: 400;
      font-size: 18px;
      font-family: "InterTight base", sans-serif;
    }

    &__block {
      &__img-frame {
        margin-bottom: 10px;
        padding: 5px;

        background-color: #D9D9D9;

        &__image {
          width: 100%;
          min-width: 0;
        }

        &__description {
          align-items: center;
          min-height: 45px;
          padding: 10px;

          color: white;
          font-weight: 400;
          font-size: 15px;
          font-family: "InterTight base", sans-serif;

          background-color: #333333;
        }
      }
    }
  }
}

.image-vertical {
  width: 100%;
}




@media (width >= 429px) {
  .navigate {
    height: 60px;

    &__back-button, &__forward-button {
      width: 360px;
      min-width: 350px;
      height: 60px;

      &__arrow {
        display: block;
        padding: 0 14px 0 20px;
      }
  
      &__arrow--mobile{
        display: none;
      }

      &__text {
        font-size: 25px;
      }
    }

    &__forward-button {
      &__arrow {
        display: block;
        padding: 0 20px 0 14px;
      }
    }

    &__back-button:hover, &__forward-button:hover {
      background-color: #3C837A;
    }
  }

  .map {
    &__button {
      min-width: 120px;
      height: 80px;
  
      &__text {
        font-size: 20px;
      }
    }

    &__frame {
      &__img {
        width: 480px;
        height: 480px;
      }
    }
  }

  .field{
    border-width: 0 45px 45px;

    &__frame {
      gap: 25px;
      padding: 60px 40px 40px;

      &__header {
        margin-top: 0;

        font-size: 45px;
      }

      &__description {
        font-size: 30px;
      }
      
      &__block {
        &__img-frame {
          display: flex;

          margin-bottom: 10px;
          padding: 20px;

          &__image {
            flex-grow: 1;
            max-width: 1400px;
            margin-bottom: 0;
          }

          &__description {
            align-items: none;
            min-width: 200px;
            max-width: 300px;
            padding-left: 20px;

            color: black;
            font-weight: 500;

            font-size: 21px;

            background-color: #D9D9D9;
          }
        }
      }
    }
  }

  .image-vertical {
    flex-grow: 1;
    max-width: 800px;
  }
}

