<div class="page">
  <img
    class="page__field"
    src="assets/pic/base-field.webp" />
  <img
    class="page__field--mobile"
    src="assets/pic/base-field-mobile.webp" />
  <div class="page__discription">
    <div class="page__discription__text">
      Государственный Эрмитаж - крупнейший в России и один из крупнейших в мире художественных и культурно-исторических музеев. Он состоит
      из пяти зданий: Зимнего двора, Малого Эрмитажа, Старого Эрмитажа, Нового Эрмитажа и Эрмитажного театра. До революции Зимний дворец
      использовался как императорская резиденция. К сожалению, после капитальной перестройки и приспособления Зимнего дворца под картинную
      галерею в 1930-х., подлинных интерьров сохранилось совсем немного. Данный материал предлагает ознакомиться и сравнить, утраченные
      после революции интерьеры, с тем, как залы выглядят сейчас.
    </div>
  </div>
</div>
