.page {
  position: relative;

  &__field {
    display: none;
  }

  &__field--mobile {

    width: 100%;
    height: 100%;
  }

  &__discription {
    position: absolute;
    top: 0;
    left: 0;

    width: auto;
    height: calc(100% - 32px);
    margin: 16px;
    border-radius: 45px;
    overflow-y: auto;

    background-color: #EEEEEE;

    &__text {
      padding: 24px;

      font-weight: 500;
      font-size: 22px;
      text-indent: 10%
    }
  }
}

@media (min-width: 429px) {
  .page {
    &__field {
      position: absolute;

      display: block;
      width: 100%;
      height: auto;
    }

    &__field--mobile {
      display: none;
    }

    &__discription {
      height: 827px;
      margin: 53px 45px 70px 295px;

      &__text {
        padding: 30px;

        font-size: 30px
      }
    }
  }
}