<div class="page">
  <img
    class="page__field"
    src="assets/pic/base-field.png" />
  <img
    class="page__field--mobile"
    src="assets/pic/base-field-mobile.png" />
  <div class="page__discription">
    <div class="page__discription__text">
      Государственный Эрмитаж - крупнейший в России и один из крупнейших в мире художественных и культурно-исторических музеев. Возник в
      1764 году как частное собрание Екатерины II. Музей был открыт для посещения в 1852 году в специально построенном для этой цели здании
      Нового Эрмитажа. Сегодня основная экспозиция занимает пять зданий, расположенных вдоль набережной Невы, и расположена в более чем 350
      залах. Особое место занимают парадные интерьеры дворца. ..............
    </div>
  </div>
</div>
