<div class="navigate">
  <button
    class="navigate__back-button"
    [routerLink]="'/interiors'">
    <img
      class="navigate__back-button__arrow"
      src="assets/icon/arrow-back.svg" />
    <img
      class="navigate__back-button__arrow--mobile"
      src="assets/icon/arrow-back-mobile.svg" />
    <div class="navigate__back-button__text">{{ 'Common.back' | translate }}</div>
  </button>
</div>
<div class="field">
  <div
    *ngIf="interiors$ | async as interiors"
    class="field__base">
    <div
      *ngFor="let interior of interiors; trackBy: trackById"
      class="field__base__frame">
      <button
        class="field__base__frame__button"
        [routerLink]="interior.path">
        <img
          class="field__base__frame__button__image"
          [src]="interior.img" />
        <img
          class="field__base__frame__button__image--mobile"
          [src]="interior.imgMobile" />
      </button>
      <div class="field__base__frame__name">{{ interior.name }}</div>
    </div>
  </div>
</div>
