<div class="field">
  <div class="field__frame">
    <button class="field__frame__buttons">
      <img
        class="field__frame__buttons__image"
        src="../../../assets/pic/winter-palace.png" />
      <img
        class="field__frame__buttons__image--mobile"
        src="../../../assets/pic/winter-palace-mobile.png" />
      <div class="field__frame__buttons__name">{{ 'Interior.WinterPalace' | translate }}</div>
    </button>
    <button class="field__frame__buttons">
      <img
        class="field__frame__buttons__image"
        src="../../../assets/pic/small-hermitage.png" />
      <img
        class="field__frame__buttons__image--mobile"
        src="../../../assets/pic/small-hermitage-mobile.png" />
      <div class="field__frame__buttons__name">{{ 'Interior.SmallHermitage' | translate }}</div>
    </button>
    <button class="field__frame__buttons">
      <img
        class="field__frame__buttons__image"
        src="../../../assets/pic/hermitage.png" />
      <img
        class="field__frame__buttons__image--mobile"
        src="../../../assets/pic/hermitage-mobile.png" />
      <div class="field__frame__buttons__name">{{ 'Interior.Hermitage' | translate }}</div>
    </button>
  </div>
</div>
