<div class="navigate">
  <button
    class="navigate__back-button"
    [routerLink]="'/interiors'">
    <img
      class="navigate__back-button__arrow"
      src="../../../assets/icon/arrow-back.svg" />
    <img
      class="navigate__back-button__arrow--mobile"
      src="../../../assets/icon/arrow-back-mobile.svg" />
    <div class="navigate__back-button__text">{{ 'Common.back' | translate }}</div>
  </button>
</div>
<div class="field">
  <div
    *ngIf="interiors$ | async as interiors"
    class="field__frame">
    <button
      *ngFor="let interior of interiors; trackBy: trackById"
      class="field__frame__button btn btn-lg btn-outline-primary"
      (click)="open(interior, content)">
      <div class="field__frame__button__frame-img">
        <img
          class="field__frame__button__frame-img__image"
          [src]="interior.img" />
        <img
          class="field__frame__button__frame-img__image--mobile"
          [src]="interior.imgMobile" />
      </div>
      <div class="field__frame__button__name">{{ interior.name }}</div>
    </button>
  </div>
</div>

<ng-template
  #content
  let-d="dismiss">
  <div class="dialog">
    <div class="dialog__header">
      <p class="dialog__header__name">{{ 'Common.chooseFloor' | translate }}</p>
      <button
        class="dialog__header__cross"
        (click)="d('Cross click')">
        <img
          class="dialog__header__cross__image"
          src="../../../assets/icon/close-cross.svg" />
      </button>
    </div>
    <div
      *ngIf="floors$ | async as floors"
      class="dialog__body">
      <button
        *ngFor="let floor of floors; trackBy: trackById"
        class="dialog__body__floor">
        <img
          #floorImage
          class="dialog__body__floor__image"
          [src]="floor.img"
          (mouseenter)="floorOver(floorImage, floor.imgHover)"
          (mouseleave)="floorOver(floorImage, floor.img)" />
      </button>
    </div>
  </div>
</ng-template>
