<div class="navigate">
  <button
    class="navigate__back-button"
    [routerLink]="'/interiors'">
    <img
      class="navigate__back-button__arrow"
      src="../../../assets/icon/arrow-back.svg" />
    <img
      class="navigate__back-button__arrow--mobile"
      src="../../../assets/icon/arrow-back-mobile.svg" />
    <div class="navigate__back-button__text">{{ 'Common.back' | translate }}</div>
  </button>
</div>
<div class="field">
  <div
    *ngIf="interiors$ | async as interiors"
    class="field__frame">
    <button
      *ngFor="let interior of interiors; trackBy: trackById"
      class="field__frame__button btn btn-lg btn-outline-primary"
      [routerLink]="interior.path">
      <div class="field__frame__button__frame-img">
        <img
          class="field__frame__button__frame-img__image"
          [src]="interior.img" />
        <img
          class="field__frame__button__frame-img__image--mobile"
          [src]="interior.imgMobile" />
      </div>
      <div class="field__frame__button__name">{{ interior.name }}</div>
    </button>
  </div>
</div>
