<div class="navigate">
  <button
    class="navigate__back-button"
    [routerLink]="'../'">
    <img
      class="navigate__back-button__arrow"
      src="../../../assets/icon/arrow-back.svg" />
    <img
      class="navigate__back-button__arrow--mobile"
      src="../../../assets/icon/arrow-back-mobile.svg" />
    <div class="navigate__back-button__text">{{ 'Common.back' | translate }}</div>
  </button>
</div>
<div class="field">
  <div class="field__header">
    <p class="field__header__name">{{ 'Common.chooseFloor' | translate }}</p>
  </div>
  <div
    *ngIf="floors$ | async as floors"
    class="field__body">
    <button
      *ngFor="let floor of floors; trackBy: trackById"
      class="field__body__floor"
      [disabled]="!floor.isActive"
      (click)="redirectToRoom(floor)">
      <img
        #floorImage
        class="field__body__floor__image"
        [src]="floor.img"
        (mouseenter)="floorOverEnter(floorImage, floor)"
        (mouseleave)="floorOverLeave(floorImage, floor)" />
    </button>
  </div>
</div>
