:host {
  display: block;
}

.head {
  display: flex;
  height: 128px;

  &__logo {
    display: flex;
    justify-content: center;
    width: 92px;
    margin-right: 2px;

    background-color: var(--header-dark-grey);
  }

  &__toolbar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    background-color: var(--header-dark-grey);

    &__name {
      width: 266px;
      height: 65px;
      margin-top: 14px;
    }

    &__description {
      color: var(--main-green);
      font-weight: 800;
      font-size: 18px;
      font-family: "InterTight base", sans-serif;
      font-style: italic;
      text-transform: uppercase;
      text-shadow: 
        1px 0 var(--white), 
        0 1px var(--white), 
        -1px 0 var(--white), 
        0 -1px var(--white);
    }
  }
}

.line {
  position: relative;
  z-index: 3;

  height: 8px;
  margin-top: 2px;

  background-color: var(--header-dark-grey);
  box-shadow: 0 1px 3px var(--black)
}

.menu {
  width: 92px;
  height: 128px;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.menu:hover {
  background-color: var(--logo-grey-hover);
}

.menu-buttons {
  position: relative;
  z-index: 3;

  margin-top: 8px !important;
  padding: 0;
  border: 0;
  border-radius: 0 0 22px;

  box-shadow: 5px 5px 15px var(--black);

  &__button,
  &__button--last {
    width: 250px;
    height: 60px;
    margin-bottom: 2px;
    padding: 0;
    padding-left: 15px;
    border: 0;

    color: var(--white);
    font-weight: 600;
    font-size: 27px;
    font-family: "InterTight base", sans-serif;
    text-transform: uppercase;

    background-color: var(--main-green);
  }

  &__button--last {
    margin-bottom: 0;
    border-radius: 0 0 22px;
  }

  &__button:hover,
  &__button--last:hover {
    background-color: var(--main-green-hover);
  }
}

.dropdown-toggle::after {
  display: none;
}

@media (width >= 429px) {
  .head {
    &__logo {
      width: 128px;
    }

    &__toolbar {
      flex-direction: row;
      gap: 15px;
      justify-content: space-between;

      &__name {
        width: 368px;
        height: 90px;
        margin-top: 0;
        margin-left: 20px;
      }

      &__description {
        margin-right: 70px;

        font-size: 45px;
      }
    }
  }

  .menu {
    width: 128px;
  }
}