:host {
  display: block;
}

.head {
  display: flex;
  height: 128px;

  &__logo {
    display: flex;
    justify-content: center;
    width: 92px;
    margin-right: 2px;

    background-color: #3D3D3D;
  }

  &__toolbar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    background-color: #3D3D3D;

    &__name {
      width: 266px;
      height: 65px;
      margin-top: 14px;
    }

    &__description {
      color: #03463E;
      font-weight: 800;
      font-size: 18px;
      font-family: "InterTight base", sans-serif;
      font-style: italic;
      text-transform: uppercase;
      text-shadow: 
        1px 0 #FFFFFF, 
        0 1px #FFFFFF, 
        -1px 0 #FFFFFF, 
        0 -1px #FFFFFF;
    }
  }
}

.line {
  position: relative;
  z-index: 3;

  height: 8px;
  margin-top: 2px;

  background-color: #3D3D3D;
  box-shadow: 0 1px 3px black
}

.menu {
  width: 92px;
  height: 128px;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.menu:hover {
  background-color: #878787;
}

.menu-buttons {
  position: relative;
  z-index: 3;

  margin-top: 8px !important;
  padding: 0;
  border: 0;
  border-radius: 0 0 22px;

  box-shadow: 5px 5px 15px black;

  &__button,
  &__button--last {
    width: 250px;
    height: 60px;
    margin-bottom: 2px;
    padding: 0;
    padding-left: 15px;
    border: 0;

    color: #FFFFFF;
    font-weight: 600;
    font-size: 27px;
    font-family: "InterTight base", sans-serif;
    text-transform: uppercase;

    background-color: #03463E;
  }

  &__button--last {
    margin-bottom: 0;
    border-radius: 0 0 22px;
  }

  &__button:hover,
  &__button--last:hover {
    background-color: #3C837A;
  }
}

.dropdown-toggle::after {
  display: none;
}

@media (width >= 429px) {
  .head {
    &__logo {
      width: 128px;
    }

    &__toolbar {
      flex-direction: row;
      gap: 15px;
      justify-content: space-between;

      &__name {
        width: 368px;
        height: 90px;
        margin-top: 0;
        margin-left: 20px;
      }

      &__description {
        margin-right: 70px;

        font-size: 45px;
      }
    }
  }

  .menu {
    width: 128px;
  }
}