:host {
  display: block;
}

.field {
  width: 100%;
  min-height: 788px;
  border-color: #EEEEEE;
  border-style: solid;
  border-width: 40 10px 10px;

  background-color: #FFFFFF;

  &__frame {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px;

    &__header {
      margin-top: 30px;

      font-weight: 600;
      font-size: 22px;
      font-family: "InterTight base", sans-serif;
      text-transform: uppercase;
    }

    &__description {
      margin-bottom: 5px;

      font-weight: 400;
      font-size: 18px;
      font-family: "InterTight base", sans-serif;
    }

    &__block {
      &__img-frame {
        margin-bottom: 10px;
        padding: 5px;

        background-color: #D9D9D9;

        &__image {
          width: 100%;
          min-width: 0;
        }

        &__description {
          align-items: center;
          min-height: 45px;
          padding: 10px;

          background-color: #333333;

          &__text {
            color: white;
            font-weight: 450;
            font-size: 16px;
            font-family: "InterTight base", sans-serif;
          }

          &__author, &__date {
            color: white;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.image-vertical {
  width: 100%;
}

.navigate {
  position: sticky;
  top: 0;
  z-index: 1;

  &__back-button{
    z-index: 2;

    display: flex;
    align-items: center;
    width: 220px;
    height: 40px;
    padding: 0;
    border: 0;
    border-radius: 0 0 34px;

    text-decoration: none;

    background-color: #03463E;

    &__arrow {
      display: none;
    }

    &__arrow--mobile{
      display: block;
      height: 13px;
      padding: 0 9px;
    }

    &__text {
      color: #FFFFFF;
      font-weight: 550;
      font-size: 13px;
      font-family: "InterTight base", sans-serif;
      text-transform: uppercase;
    }
  }
}




@media (width >= 429px) {
  .field{
    border-width: 0 45px 45px;

    &__frame {
      gap: 25px;
      padding: 60px 40px 40px;

      &__header {
        margin-top: 0;

        font-size: 45px;
      }

      &__description {
        font-size: 30px;
      }
      
      &__block {
        &__img-frame {
          display: flex;

          margin-bottom: 10px;
          padding: 20px;

          &__image {
            flex-grow: 1;
            min-width: 1000px;
            max-width: 1400px;
            margin-bottom: 0;
          }

          &__description {
            align-items: none;
            min-width: 200px;
            padding-left: 20px;

            background-color: #D9D9D9;

            &__text {
              color: black;
              font-weight: 550;
  
              font-size: 21px;
            }

            &__author, &__date {
              color: black;
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .image-vertical {
    flex-grow: 1;
    max-width: 800px;
  }

  .navigate {
    height: 60px;

    &__back-button {
      width: 400px;
      height: 60px;

      &__arrow {
        display: block;
        padding: 0 14px 0 20px;
      }
  
      &__arrow--mobile{
        display: none;
      }

      &__text {
        font-size: 25px;
      }
    }

    &__back-button:hover {
      background-color: #3C837A;
    }
  }
}

